
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: #232f3e;
    color: white;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background: #ddd;
}
